@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	font-family: 'Roboto';
}

body {
	margin: 0;
	padding: 0;
	background-image: url(../img/bgg.jpg);
	background-size: cover;
}

a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

/* header */

.user-panel {
	width: 100%;
	min-width: 960px;
	height: 40px;
	background: rgba(0,0,0, .7);
}

.user-panel ul {
	list-style: none;
	padding: 0;
	height: 40px;
	margin: 0 auto;
	text-align: center;
}

.user-panel ul li {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	margin-right: 15px;
	color: orange;
}

.user-panel ul li a {
	color: orange;
}

.user-panel ul li a:hover {
	border-bottom: 1px solid orange;
}

.header {
	width: 960px;
	height: 100px;
	margin: 0 auto;
	margin-top: 10px;
	background: black;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.header img {
	margin-left: 30px;
	margin-top: 15px;
	float: left;
	width: 64px;
	height: 64px;
}

.header p {
	float: left;
	font-size: 1.5em;
	margin-top: 35px;
	color: orange;
}

/* menu */

.menu {
	background: black;
	width: 960px;
	height: 50px;
	margin: 0 auto;
	margin-top: -16px;
}

.menu ul {
	list-style: none;
	width: 930px;
	padding: 0;
	height: 40px;
	margin-left: 18px;
	border-bottom: 2px solid orange;
}

.menu ul li { 
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding:0 15px;
	text-align: center;
	margin-top: 10px;
	margin-right: 3px;
	color: orange;
}

.menu ul li a { 
	color: orange; 
}
.menu ul li:hover {
	color: white;
	border-bottom: 2px solid white;
}

/* content */

.content {
	width: 960px;
	margin: 0 auto;
	min-height: 400px;
}

.sidebar {
	float: left;
	width: 20%;
	background: black;
	min-height: 300;
	border-bottom: 4px solid orange;
}

.main {
	float: left;
	width: 80%;
	min-height: inherit;
	background: black;
	color: white;
	box-sizing: border-box;
	border: 13px solid black;
	padding-top: 63px;
}

.add-news-link {
	color: orange;
}

.main iframe {
	text-align: center;
}

.main p {
	text-align: justify;
	text-indent: 30px;
}

.video {
	text-align: center;
}
/* sidebar */

.sidebar ul {
	list-style: none;
	padding: 0 5%;
	margin-top: 50px;
}

.sidebar ul li {
	width: 90%;
	border: 2px solid orange;
	color: black;
	background: orange;
	padding: 10px;
	margin-bottom: 5px;
	text-align: center;	
}

.sidebar ul li:hover {
	color: white;
}

/* footer */

.footer {
	clear: both;
	margin: 0 auto;
	background: none;
	width: 960px;
	height: 50px;
	margin-bottom: 30px;
}

.footer .no-block {
	float: left;
	width: 20%;
	height: inherit;
}

.footer .footer-div {
	float: left;
	width: 80%;
	height: inherit;
	background: orange;
}

.copyright {
	text-align: center;
}

/* slider */

#slider {
    overflow: hidden;
    width: 100%;
    height: 350px;
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 300px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  width: 960px;
  height: 300px;
}

a.btn_prev, a.btn_next {
  position: absolute;
  top: 0;
  z-index: 2;
  display: block;
  padding: 15% 3%;
  background: none; 
  color: orange;
  background: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3em;
  cursor: pointer;
}

a.btn_next { right: 0; }
a.btn_prev:focused, a.btn_next:focused { outline: none; }

/* sign up */

.signup-div {
	margin-top: 100px;
	margin-left: 30%;
}

.signup-form {
	padding: 20px;
	width: 300px;
	text-align: center;
}

.signup-form input {
	display: block;
	background: none;
	border: 1px solid orange;
	border-radius: 25px;
	color: orange;
	text-align: center;
	font-size: 1em;
	width: 220px;
	height: 25px;
	margin-bottom: 10px;
}
.signup-form input[type="submit"] {
	background: orange;
	color: black;
	margin-top: 20px;
	width: 150px;
	border-radius: 0;
	margin-left: 35px;
	cursor: pointer;
}
.signup-form input:focus {
	outline: none;
}
.signup-form legend {
	margin-bottom: 10px;
}

/* login form */

.login-btn:focus { outline: none; }
.login-btn {
	background: none;
	color: orange;
	border: none;
	font-size: 1em;
	cursor: pointer;
}

#popup_box { 
    display:none;
    position:fixed;  
    height:120px;  
    width:230px;  
    background: black;  
    left: 550px;
    top: 250px;
    z-index:100;
    margin-left: 15px;
    padding: 15px;  
    
    border:2px solid orange;
}

.login-form input {
	display: block;
	background: none;
	border: 1px solid orange;
	border-radius: 25px;
	color: orange;
	text-align: center;
	font-size: 1em;
	width: 220px;
	height: 25px;
	margin-bottom: 10px;
}
.login-form input[type="submit"] {
	background: orange;
	color: black;
	margin-top: 20px;
	width: 150px;
	border-radius: 0;
	margin-left: 35px;
	cursor: pointer;
}
.login-form input:focus {
	outline: none;
}

#container {
    background: #d2d2d2; 
    width:100%;
    height:100%;
}

#popupBoxClose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:orange;  
}

/* news */

.categories-ul {
	background: orange;
	color: black;
	list-style: none;
	padding: 0;
	width: 95%;
	height: 35px;
	padding-left: 20px;
}

.categories-ul a {
	color: black;
}
.categories-ul li {
	display: inline-block;
	line-height: 35px;
	padding: 0 15px;
}
.categories-ul li:hover {
	background: black;
	color: orange;
}
.categories-ul span {
	cursor: default;
	font-weight: bold;
	margin-right: 10px;
}


.material {
	width: 97%;
	border-left: 3px solid orange;
	margin-bottom: 30px;
}

.material h3 {
	margin-top: -2px;
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
	font-size: 1.5em;
}
.material h3 a {
	color: orange;
}

.material p {
	text-indent: 10px;
	overflow: hidden;
	color: white;
	text-overflow: ellipsis;
	padding: 10px;
	margin-top: -10px;
}

.news-title {
	margin-top: 30px;
	border-bottom: 2px solid orange;
}

/* additional */

.db_table {
	background: orange;
	width: 90%;
}

.db_table td {
	border: 1px solid black;
	padding: 5px;
	color: black;
}


/* */

.news_form input, .news_form textarea {
	display: block;
}

.news_form input {
	width: 200px;
	height: 25px;
	margin-bottom: 30px;
}

.news_form textarea {
	resize: none;
	width: 500px;
	height: 200px;
	margin-bottom: 30px;
}

.cf {
	width: 100%;
	height: 200px;
}

.cf .left {
	float: left;
	width: 40%;
}

.cf .left input {
	display: block;
	margin: 10px;
}

.cf .right {
	float: left;
	width: 60%;
}

.cf .right textarea {
	width: 90%;
	height: 100px;
	resize: none;
}

/**/

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
 	color: orange;
    width: 200px; 
    padding: 12px 16px;
    z-index: 1;
    border: 2px solid orange;
}

.dropdown-content p {
	background: orange;
	color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/**/

.user-div {
	margin-top: 15px;
	width: 97%;
	background: orange;
	padding: 10px;
}

.user-div h2 {
	color: black;
	padding-left: 30px;
}

.user-table {
	border: 1px solid black;
	margin-left: 30px;
}

.user-table td {
	width: 50%;
	text-align: center;
	background: orange;
	color: black;
}

